body{
	background: DarkGray;
	display: grid;
	grid-template-columns: 1400px;
	grid-template-rows: 180px 1fr;
	grid-row-gap: 10px;
	justify-content: center;
}

header{
	background: LightGray;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 2fr 1fr;
	padding: 10px;
}

/*Logo*/
.logo{
	font-size: 70px;
	font-weight: 600;
	margin-left: 8px;
}

/*User greeting section*/
.userGreetingSection{
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.greeting{
	display: grid;
	margin-left: 8px;
	align-content: center;
}

/*Buttons*/
.buttonsSection{
	display: inline-flex;
	justify-content: right;
	column-gap: 7px;
}

.button {
	display: grid;
	width: 143px;
	height: 25px;
	text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 7px;
    justify-content: center;
    align-content: center;
}
.htmlButtonStyleCorrection{
	font: inherit;
	width: 147px;
    height: 29px;
    cursor: pointer;
}
.pointer{
	cursor: pointer;
}
.exitButton{
    background-color: MistyRose;
}
.pressedRubric{
	background: Silver;
	color: White;
}
.pressedLocale{
	background: Gray;
	color: White;
}

/*Main section page*/
main{
	background: LightGray;
	padding: 10px;
}

/*Show Articles Page*/
.showArticlesPage{
	display: grid;
	grid-template-rows: 30px 30px 1fr max-content;
	gap: 10px;
}
/*30px*/
.namePage{
	display: grid;
	align-content: center;
	margin-left: 8px;
	font-size: 30px;
}
/*30px*/
.rubricsAndLocalePanel{
	display: inline-flex;
	justify-content: right;
	align-items: center;
}
/*1fr*/
.articles{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.article{
	background: Silver;
	padding: 0px 8px 0px 8px;
}
.toggleInput {
    display: none;
}
.articleHeader{
	display: grid;
	grid-template-columns: 1fr 8fr;
	cursor: pointer;
}
.articleCreationDate{
	margin-top: 6px;
}
.articleName {
	display: flex;
	font-size: 25px;
}
.articleBody{
	font-size: 18px;
}
.articleFooter{
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 4px 0px;
}
.functionalButtons{
	display: inline-flex;
	column-gap: 7px;
}
.visualizationButtons{
	display: inline-flex;
	justify-content: right;
}
/*hiding logic*/
.articleBody {
	display: none; /* Hide the body by default */
	background: White;
	padding: 10px;
}
.hideArticleButton{
	display: none;
}
.toggleInput:checked ~ .articleBody {
	display: block;
}
.toggleInput:checked ~ .articleFooter > .visualizationButtons > .hideArticleButton {
	display: grid;
}

/*max-content Pagination*/
.pagination{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap: 7px;
}
.paginationElement{
	display: flex;
    align-items: center;
	text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 7px;
    height: 26px;
    padding-left: 8px;
    padding-right: 8px;
}
.paginationElementPressed{
	background: Silver;
	color: White;
}

/*Create Article Page and Edit Article Page*/
.createArticlePage{
	display: grid;
	grid-template-rows: 30px max-content max-content;
	gap: 10px;
}
/*30px*/
.namePage{
	/*from Show Articles Page*/
}
/*max-content*/
#createArticleForm{
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 18px;
}
.rubricsAndLocaleSelectionSection{
	display: flex;
	flex-direction: column;
	gap: 4px;
	background: Silver;
	padding: 8px;
}
.rubricsAndLocale{
	display: flex;
	gap: 10px;
}
.rubric, .locale{
	display: flex;
	gap: 2px;
}
#createArticleForm > .header{
	display: flex;
	flex-direction: column;
	gap: 4px;
	background: Silver;
	padding: 8px;
}
.articleHeaderInput{
	font-size: 18px;
}
#createArticleForm > .body{
	display: flex;
	flex-direction: column;
	gap: 4px;
	background: Silver;
	padding: 8px;
}
.articleBodyInput{
	resize: none;
	font-size: 18px;
	height: 250px;
}
#createArticleForm > .sourcesLinks{
	display: flex;
	flex-direction: column;
	gap: 4px;
	background: Silver;
	padding: 8px;
}
.errorMessage{
	display: flex;
	color: FireBrick;
	gap: 10px;
}
/*max-content(second)*/
.saveCancel{
	display: flex;
	justify-content: right;
	gap: 4px;
	padding: 8px;
}

/*Delete Article Page*/
.deleteArticleHeader{
	display: grid;
	grid-template-columns: 1fr 8fr;
	background: Silver;
	padding: 4px;
}

/*Show User Profiles*/
.showUserProfiles{
	display: grid;
	grid-template-rows: 30px max-content max-content;
	gap: 10px;
}
/*30px
.namePage{}*/

/*max-content*/
.usersTable{
	background: Silver;
	font-size: 18px;
	padding: 4px;
	width: 100%;
}
.buttonInTable{
	display: grid;
	width: 143px;
	height: 20px;
	text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 7px;
    justify-content: center;
    align-content: center;
}
.restoreButtonInTableCorrection{
	height: 25px;
	font: inherit;
}

.usersTable > tbody > tr > td{
	height: 32px;
	text-align: center;
}
td > a, td > form > input {
	margin-left: auto;
    margin-right: auto;
}
.oddRow{
	background: LightGray;
}

/*max-content(second)
.pagination{}*/

/*login and register*/
.loginPage{
	display: flex;
	flex-direction: column;
	gap: 18px;
}
.loginForm{
	display: flex;
	flex-direction: column;
	align-self: center;
	background: Silver;
	gap: 20px;
	font-size: 20px;
	padding: 20px;
}
.loginInputSection{
	display: flex;
	flex-direction: column;
	width: 600px;
	gap: 5px;
}
.loginLableInput{
	display: inline-flex;
	justify-content: space-between;

}
.loginInput{
	font-size: 18px;
	width: 300px;
	height: 20px;
}
.loginErrorMessage{
	display: flex;
	color: FireBrick;
	justify-content: right;
}
.loginButton, .registerButton{
	display: flex;
	align-self: end;
	align-items: center;
	margin-right: 28%;
	margin-bottom: 20px;
	height: 29px;
}

/*editPassword Page*/
.editPasswordSaveCancel{
	display: flex;
	justify-content: right;
	gap: 4px;
	margin-right: 28%;
	margin-bottom: 20px;
}

/*editUserProfile Page*/
.editUserProfile{
	display: grid;
	grid-template-rows: 30px max-content max-content;
	gap: 10px;
}
#editUserProfileForm, #createUserProfileForm, #editMyProfileForm{
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 10px;
	font-size: 20px;
}
.userDataRow{
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px;
	background: Silver;
}
.userDataColumnSection{
	display: flex;
	flex-direction: column;
}
.userDataColumn{
	display: grid;
	grid-template-columns: 1fr 1fr 50%;
}
.userDataErrorMessage{
	display: flex;
	color: FireBrick;
	margin-left: 25%;
}
.editUserProfileSelect{
	height: 27px;
	width: 100px;
	font: inherit;
	font-size: 19px;
}

/*Edit My Profile*/
.editPasswordButton{
	display: grid;
	width: 160px;
	height: 25px;
	text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 7px;
    justify-content: center;
    align-content: center;
}

/*Destroy User Profile Confirm*/
.userBeingDeletedInformation{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	padding: 10px;
	background: Silver;
	gap: 5px;
}